.container-table{
	display: grid;
	width: 760px;
	margin: 0 auto;
}

.table-sortable {
	border-collapse: separate;
	border-spacing: 2px;
}
.table-sortable__head-cell,
.table-sortable__body-cell,
.table-sortable__input {
	border: 1px solid #a0a0a0;
	text-align: center;
	padding: 5px;
}
.table-sortable__head-cell {
	transition: all 0.2s ease-in;
	cursor: pointer;
	padding-right: 20px;
	background-color: #57a6ff;
}
.table-sortable__head-cell:hover {
	background-color: #ffffff;
	box-shadow: 5px 5px 8px 0px #c1c1c1;
}

.table-sortable thead td.asc::after,
.table-sortable thead td.desc::after {
	position: absolute;
}
.table-sortable thead td.asc::after {
	content: "▲";
}
.table-sortable thead td.desc::after {
	content: "▼";
}

.table-sortable__input {
	width: 100%;
	box-sizing: border-box;
}

.table-sortable__input:focus {
	transition: all 0.2s ease-in;
	background-color: #c2dfff;
}

.table-sortable__pagging-box {
	display: flex;
    justify-content: center;
}

.table-sortable__pagging-element,
.table-sortable__pagging-element_prev,
.table-sortable__pagging-element_next,
.table-sortable__pagging-element_active {
	cursor: pointer;
	background-color: #ffffff;
	margin-right: 5px;
	padding: 10px;
	transition: all 0.2s ease-in;
	border: 1px solid #a0a0a0;
}

.table-sortable__pagging-element:hover,
.table-sortable__pagging-element_prev:hover,
.table-sortable__pagging-element_next:hover{
	background-color: #57a6ff;
	box-shadow: 5px 5px 8px 0px #c1c1c1;
}

.table-sortable__pagging-element_active{
	background-color: #57a6ff;
	box-shadow: 5px 5px 8px 0px #c1c1c1;
}